<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title layout:title-pattern="$LAYOUT_TITLE / $CONTENT_TITLE">viruss</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width" />
<script type="text/javascript"
	th:src="@{/webjars/jquery/jquery.min.js/}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link type="text/css" rel="stylesheet" th:href="@{/css/default.css}"
	media="screen,projection" />
</head>
<body>
	<div class="containerr">
		<!-- TOP -->
		<div class="top">
			<h2 class="banner-title">viruss / localhost:8080</h2>
		</div>
		<!-- NAV -->
		<nav class="navbar navbar-expand-sm  bg-dark navbar-dark">
			<!-- <a class="navbar-brand" href="#">Logo</a>  -->
			<!-- Links -->
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" th:href="@{/}">home</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/exec}">@exec</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/err}">#!error</a></li>
			</ul>
		</nav>
		<!-- CONTENT -->
		<div class="content" layout:fragment="content"></div>
		<!-- FOOTER -->
		<div class="footer">viruss (c) 2019</div>
	</div>
	<!-- SCRIPTS -->
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" layout:fragment="script"></script>

</body>
</html>