<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" type="image/png" th:href="@{/images/layout/logo.png}" />
    
    
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/popper.js/popper.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<script type="text/javascript" th:src="@{/js/bootstrap-dropdown.js/}"></script>
<script type="text/javascript" th:src="@{/bootstrap-select/js/bootstrap-select.min.js}"></script>

<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/css/all.css}" media="screen,projection">
<link rel="stylesheet" type="text/css" th:href="@{/css/main_default.css}" media="screen,projection" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main_footer_navbar.css}" media="screen,projection" />
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap-select/css/bootstrap-select.min.css}" media="screen,projection" />

<title layout:title-pattern="$LAYOUT_TITLE / $CONTENT_TITLE">WMS</title>
</head>

<body>
	<!--- NAV -->
	<header>
		<nav
			class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end">
			<a class="navbar-brand mr-auto mr-1" th:href="@{/}"><img
				class="nav-logo" th:src="@{/images/layout/logo.png}" />Open WMS</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse flex-grow-0"
				id="navbarSupportedContent">
				<ul class="navbar-nav text-right">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/}">
							<i class="fa fa-home margin-right-5"></i>
							<span th:text="#{site.menu.home}"></span>
						</a>
					<li sec:authorize="hasAnyRole('MANAGER', 'ADMIN')" class="nav-item">
						<a class="nav-link text-warning" th:href="@{/manage}">
							<i class="fa fa-wrench margin-right-5"></i>
							<span th:text="#{site.menu.manage}"></span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/info}">
							<i class="fa fa-info margin-right-5"></i>
							<span th:text="#{site.menu.information}"></span>
						</a>
					</li>
		
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
							<i class="fa fa-globe">
							</i><span th:text="#{site.menu.language}"></span>
							<!-- 
							<span th:switch="__${#locale}__"> 
								<img th:case="'pl'" th:src="@{/images/layout/i18n/polish_flag.jpg}"/>
								<img th:case="'en'" th:src="@{/images/layout/i18n/english_flag.gif}"/>
								<img th:case="'it'" th:src="@{/images/layout/i18n/italian_flag.png}"/>
							 </span> 
							 -->
						</a>
						<div class="dropdown-menu">
								<a class="dropdown-item" href="?lang=pl">
									<img th:src="@{/images/layout/i18n/polish_flag.jpg}"/>
									<span th:text="#{site.menu.language.polish}"></span>
								</a> 
									<a class="dropdown-item" href="?lang=en">
									<img th:src="@{/images/layout/i18n/english_flag.gif}"/>
									<span th:text="#{site.menu.language.english}"></span> 
								</a> 
								<a class="dropdown-item" href="?lang=it">
									<img th:src="@{/images/layout/i18n/italian_flag.png}"/>
									<span th:text="#{site.menu.language.italian}"></span>
								</a>
						</div>
					</li>

					<li class="nav-item" sec:authorize="isAnonymous()">
						<a class="nav-link text-danger" th:href="@{/login}">
							<i class="fa fa-unlock"></i>
							<span th:text="#{site.menu.login}"></span>
						</a>
					</li>
					<li class="nav-item" sec:authorize="isAuthenticated()">
						<a class="nav-link text-success" href="javascript: document.logoutForm.submit()"
							th:onclick="|return confirm('#{general.areyousure}')|">
							<i class="fa fa-lock"></i>
							<span th:text="#{site.menu.logout}"></span>, 
							<span sec:authentication="name"></span>
						</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<!-- /NAV -->


	<main>
		<!-- MESSAGES -->
		<div class="container top-alerts">
			<!-- LIVE FEED -->
			<div th:if="${live}"
				class="top-alert alert alert-primary alert-dismissible fade show"
				role="alert">
				<span th:text="${live}">error</span>
				<button type="button" class="close" data-dismiss="alert"
					aria-label="Close" style="outline: 0;">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<!-- ERROR -->
			<div th:if="${error}"
				class="top-alert alert alert-danger alert-dismissible fade show"
				role="alert">
				<span th:text="${error}">error</span>
				<button type="button" class="close" data-dismiss="alert"
					aria-label="Close" style="outline: 0;">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<!-- WARNING -->
			<div th:if="${warning}"
				class="top-alert alert alert-warning alert-dismissible fade show"
				role="alert">
				<span th:text="${warning}">error</span>
				<button type="button" class="close" data-dismiss="alert"
					aria-label="Close" style="outline: 0;">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<!-- MSG -->
			<div th:if="${msg}"
				class="top-alert alert alert-success alert-dismissible fade show"
				role="alert">
				<span th:text="${msg}">ok message</span>
				<button type="button" class="close" data-dismiss="alert"
					aria-label="Close" style="outline: 0;">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>
		<!-- /MESSAGE -->
		<!--- CONTENT -->
		<div layout:fragment="content"></div>
		<!-- /CONTENT -->
	</main>
	<!--- FOOTER -->
	<footer class="footer">
		<div class="container">
			<span class=""> &copy; 2020 Krzysztof Michalak, IT ADR Polska
				S.A. <!-- &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a>  -->
			</span>
		</div>
	</footer>
	<!-- /FOOTER -->

	<!--- SCRIPTS -->
	<script type="text/javascript" layout:fragment="script"></script>
	<!-- /SCRIPTS -->
	<!-- LOGOUT HIDDEN FORM -->
	<!-- do href post logout -->
	<form name="logoutForm" th:action="@{/logout}" method="post"
		th:hidden="true">
		<input type="submit" value="Sign Out" />
	</form>
</body>
</html>