
.border-black {
	border: 1px solid black;	
}

.underline {
	border-bottom: 1px solid #E0E0E0;
}

.margin-bottom-5{
	margin-bottom: 5px;
}
.margin-bottom-10{
	margin-bottom: 10px;
}
.margin-bottom-20{
	margin-bottom: 20px;
}
.margin-bottom-30{
	margin-bottom: 30px;
}

.margin-top-5{
	margin-top: 5px;
}
.margin-top-5{
	margin-top: 5px;
}
.margin-top-10{
	margin-top: 10px;
}
.margin-top-20{
	margin-top: 20px;
}
.margin-top-30{
	margin-top: 30px;
}
.text-center{
	text-align: center;
}

.text-bold {
	font-weight: bold;
}