/*

    *-primary changes the color to blue #007bff.
    *-info changes the color to teal #17a2b8.
    *-success changes the color to green #28a745.
    *-warning changes the color to yellow #ffc107.
    *-danger changes the color to red #dc3545.
    *-dark changes the color to dark gray #343a40.
    *-secondary changes the color to gray #6c757d.
    *-light changes the color to light gray #f8f9fa.
    *-white changes the color to white #ffffff.

*/

html  {
	scroll-behavior: smooth;
}

.top-alerts {
	position: relative;
}

.top-alert {
	position: absolute; 
	max-width: 550px;
	top: 7px; 
	right: 0px; 
	z-index: 1;
}

.nav-active-dark:active {
	background: #555555;
}

.nav-logo {
	margin-right: 10px;
	width: 40px;
	height: 40px;
}

.border-black {
	border: 1px solid black;	
}

.underline {
	border-bottom: 1px solid #E0E0E0;
}

i {
	margin-right: 3px;
}

.blend-multiply{
	mix-blend-mode: multiply;
}

.margin-bottom-5{
	margin-bottom: 5px;
}
.margin-bottom-10{
	margin-bottom: 10px;
}
.margin-bottom-20{
	margin-bottom: 20px;
}
.margin-bottom-30{
	margin-bottom: 30px;
}

.margin-top-5{
	margin-top: 5px;
}
.margin-top-10{
	margin-top: 10px;
}
.margin-top-20{
	margin-top: 20px;
}
.margin-top-30{
	margin-top: 30px;
}

.margin-right-5{
	margin-right: 5px;
}
.margin-right-10{
	margin-right: 10px;
}
.margin-right-20{
	margin-right: 20px;
}
.margin-right-30{
	margin-right: 30px;
}
.margin-left-5{
	margin-left: 5px;
}
.margin-left-10{
	margin-left: 10px;
}
.margin-left-20{
	margin-left: 20px;
}
.margin-left-30{
	margin-left: 30px;
}

.text-center{
	text-align: center;
}

.text-bold {
	font-weight: bold;
}