<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/pc_general}">
<head>
<title th:text="#{site.title.no-access}"></title>
<link type="text/css" rel="stylesheet" th:href="@{/css/main_no_access.css}"
	media="screen,projection" />
</head>
<body>
	<div layout:fragment="content">
		<div class="maindiv">
			<div class="subdiv">

				<h1 class="text-danger">
					<i class="fa fa-user-lock"></i> 
					<span th:text="#{noaccess.header}"></span>
				</h1>
				<h2 th:text="#{noaccess.message}"></h2>
				<p th:text="#{noaccess.explanation}"></p>
		
				<a class="btn btn-warning btn-lg" th:href="@{/}"><i class="fa fa-home margin-right-10"></i>home</a>
			</div>
		</div>
	</div>
</body>
</html>