<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/pc_general}">

<head>
<title th:text="#{site.title.users}"></title>
</head>
<body>
	<div layout:fragment="script"></div>

	<div layout:fragment="content">
		<div class="container">
			<!-- INTRO -->
			<div class="row">
				<div class="col subintro">
					<h1>
						<i class="fa fa-users-cog"></i><span th:text="#{users.edit}"></span>
					</h1>
					<p th:text="#{users.edit.prologue}"></p>
					<a th:href="@{/manage/users}">&laquo; <span
						th:text="#{action.back}"></span></a>
					<hr>
				</div>
			</div>

			<!-- FORM -->
			<div class="row">
				<!-- RIGHT COLUMN -->
				<div class="col-md-4 order-md-2 mb-4">
					<h4 class="d-flex align-items-center mb-3">
						<i class="fa fa-pencil-alt mr-2"></i><span>Uprawnienia</span>
					</h4>

					<label for="country">Country</label> <select
						class="custom-select d-block w-100" id="country" required="">
						<option value="0" selected="selected">Choose...</option>
						<option>United States</option>
					</select>
					<ul class="list-group mt-3">
						<li
							class="list-group-item d-flex justify-content-between lh-condensed">
							<div>
								<h6 class="my-0">Product name</h6>
								<small class="text-muted">Brief description</small>
							</div> <span class="text-muted">$12</span>
						</li>
					</ul>
				</div>
				<!-- LEFT COLUMN -->
				<div class="col-md-8 order-md-1">
					<h4 class="mb-3"><i class="fa fa-pencil-alt mr-2"></i><span th:text="#{general.form}"></span></h4>
					<form>
						<div class="row">
							<div class="col-md-6 mb-3">
								<label for="username" th:text="#{users.username}"></label> <input
									type="text" class="form-control" id="username" name="username"
									th:placeholder=#{users.username}>
							</div>
							<div class="col-md-6 mb-3">
								<label for="name" th:text="#{users.name}"></label> <input
									type="text" class="form-control" id="name" name="name"
									th:placeholder="#{users.name}">
							</div>
						</div>

						<div class="row">
							<div class="col-md-6 mb-3">
								<label for="id" th:text="|#id|"></label> <input type="text"
									class="form-control" id="id" name="id" th:placeholder="|#id|"
									style="background-color: white;" readonly>
							</div>
							<div class="col-md-6 mb-3">
								<label for="password" th:text="#{users.password}"></label> <a
									class="btn btn-block btn-outline-dark btn-md"
									th:href="@{/manage/users/password/ID}"> <i class="fa fa-key"></i>
									<span th:text="#{users.password.change}"></span>
								</a>
							</div>
						</div>
					
						<div class="custom-control custom-checkbox mt-2">
							<input type="checkbox" class="custom-control-input" id="active">
							<label class="custom-control-label" for="active">Active</label>
						</div>
						<hr class="mb-4">

						<button class="btn btn-primary btn-lg btn-block" type="submit">
						<i class="fa fa-save"></i>
						<span th:text="#{action.save}"></span>
						</button>
					</form>


				</div>
			</div>
		</div>
</body>
</html>