<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/pc_general}">

<head>
<title th:text="#{site.title.users}"></title>
</head>
<body>
	<div layout:fragment="script"></div>

	<div layout:fragment="content">
		<div class="container">
			<!-- INTRO -->
			<div class="row">
				<div class="col subintro">
					<h1>
						<i class="fa fa-key"></i><span th:text="|#{users.password.title}|"></span>
						<span class="text-primary" th:text="${formUserPassword.username}"></span>
						<span class="text-secondary" th:text="|[#${formUserPassword.id}]|"></span>
						
					</h1>
					<p th:text="#{users.password.prologue}"></p>
					<a th:href="|@{/manage/users/edit/}${formUserPassword.id}|">&laquo; <span
						th:text="#{action.back}"></span></a>
					<hr>
				</div>
			</div>

			<!-- FORM -->
			<div class="row">
				
				<!-- LEFT COLUMN -->
				<div class="col-md-6 col-lg-4 order-md-1">
					<h4 class="mb-3">
						<i class="fa fa-pencil-alt mr-2"></i><span
							th:text="#{general.form}"></span>
					</h4>
					
					<form th:action="@{/manage/users/password}" method="post"
						th:object="${formUserPassword}">
						<input type="hidden" th:field="*{id}" />
						<input type="hidden" th:field="*{username}" />
						<div class="row">
							<div class="col-md-12 mb-3">
								<label for="password" th:text="#{users.password}"></label> <input
									type="password" class="form-control" th:field="*{password}"
									th:placeholder="#{users.password}">
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 mb-3">
								<label for="passwordRepeat" th:text="#{users.password.repeat}"></label> <input
									type="password" class="form-control" th:field="*{passwordRepeat}"
									th:placeholder="#{users.password.repeat}">
									
									<div th:errors="*{password}"
									class="alert alert-danger mt-2 mb-0">error</div>
									
							</div>
						</div>
						<hr class="mb-4">
						<button class="btn btn-primary btn-lg btn-block" type="submit">
							<i class="fa fa-save"></i> <span th:text="#{action.save}"></span>
						</button>
					</form>


				</div>
			</div>
		</div>
	</div>
</body>
</html>