<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/pc_general}">
<head>
<title th:text="#{site.title.home}"></title>
</head>
<body>

	<div layout:fragment="script"></div>
	<div layout:fragment="content" class="container-fluid?">
		
		<div class="jumbotron">
			<div class="container">
				<div class="row">
				 <div class="col-sm-12 col-md-4">
					<h1 class="display-7" th:text="#{home.layout}"></h1>
					<select class="selectpicker" data-live-search="true">
						<optgroup label="MPY - Magazyn przyjęć">
							<option>A - obszar główny</option>
							<option>B - obszar dodatkowy</option>
						</optgroup>
						<optgroup label="MPD - Magazyn produkcyjny">
							<option>M - materiały</option>
							<option>P - półprodukty</option>
							<option>F - produkty gotowe</option>
						</optgroup>
						<optgroup label="MWS - Magazyn wysyłkowy">
							<option>O - strefa odkładcza</option>
							<option>A - obszar główny</option>
							<option>B - obszar pomocniczy</option>
							<option>C - oczekujące</option>
						</optgroup>
					</select>
				</div>
				<div class="col-sm-12 col-md-8">
					<img class="map-image" th:src="@{/images/map.png}" />
				</div>
				</div>
			</div>
		</div>
		
		
		<div class="container margin-top-20">
			<div class="row">
				<div class="col-sm-12 col-md-4">
					<h2 class="margin-bottom-20"><i class="fa fa-dolly-flatbed margin-right-10"></i>
					<span th:text="#{home.feature.input.title}"></span></h2>
					<p th:text ="#{home.feature.input.text}"></p>
					<p>
						<a class="btn btn-primary" href="#" role="button" th:text="|#{action.go} &raquo;|"></a>
					</p>
				</div>
				<div class="col-sm-12 col-md-4">
					<h2 class="margin-bottom-20"><i class="fa fa-clipboard-check margin-right-10"></i>
					<span th:text="#{home.feature.request.title}"></span></h2>
					<p th:text ="#{home.feature.request.text}"></p>
					<p>
						<a class="btn btn-primary" href="#" role="button" th:text="|#{action.go} &raquo;|"></a>
					</p>
				</div>
				<div class="col-sm-12 col-md-4">
					<h2 class="margin-bottom-20"><i class="fa fa-search margin-right-10"></i>
					<span th:text="#{home.feature.search.title}"></span></h2>
					<p th:text ="#{home.feature.search.text}"></p>
					<p>
						<a class="btn btn-primary" href="#" role="button" th:text="|#{action.go} &raquo;|"></a>
					</p>
				</div>
			</div>
			
		

		</div>
		
		
		
		
		
		
		
	</div>
</body>
</html>