<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/pc_general}">
<head>
<title th:text="#{site.title.login}"></title>
<link type="text/css" rel="stylesheet" th:href="@{/css/login.css}"
	media="screen,projection" />
</head>
<body>
	<div layout:fragment="content">
		<div class="logindiv">
			<form class="form-signin" th:action="@{/login}" method="post">

				<h1 class="h3 mb-3 font-weight-normal">
					<i class="fa fa-key"></i> <span th:text="#{login.sign-in.title}"></span>
				</h1>

				<div th:if="${param.error}" class="alert alert-danger">
					<span th:text="#{login.bad-login-or-password}"></span>
				</div>
					
				<div th:if="${param.expired}" class="alert alert-danger">
					<span th:text="#{login.session-expired}"></span>
				</div>

				<div th:if="${param.logout}" class="alert alert-success">
					<span th:text="#{login.logout-success}"></span>
				</div>
									
					
				<label for="username" class="sr-only"><span th:text="#{general.username}"></span></label> 
				<input type="text" id="username" name="username" class="form-control"
					th:placeholder="#{general.username}"> 
					
				<label for="password" class="sr-only"><span th:text="#{general.password}"></span></label> 
				<input type="password" id="password" name="password" class="form-control"
					th:placeholder="#{general.password}">

				<div class="checkbox mb-3">
					<label> 
					<input type="checkbox" id="remember-me" name ="remember-me">
						<span th:text="#{login.remember-me}"></span>
					</label>
				</div>

				<button class="btn btn-lg btn-primary btn-block" type="submit">
					<span th:text="#{login.sign-in}"></span>
				</button>
			</form>
		</div>
	</div>
</body>
</html>